<div class="modal fade bs-log-work-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<h2>Log Work</h2>
					<hr>
					<%= form_for(@logged_hour, url: "/logged_hours", html: {class: "form-horizontal", method: :put}) do |f| %>
						<%= render partial: 'logged_hours/form', locals: {f: f, button_text: "Edit Work"} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
