<div class="col-md-3 col-md-offset-1 pull-right">
	<%= link_to "Add Project", new_project_path, class: "btn btn-default btn-primary" if current_employee.is_admin? -%>
</div>
<div class="col-md-6 col-md-offset-3">
	<h1>Projects</h1>
	<div>&nbsp;</div>
	<div class="row">
	  	<div class="col-md-9 col-md-offset-2">
			<% if @projects.present? %>
	  			<ul class="list-styled">
	    			<% for project in @projects-%>
	      				<li><%= link_to project.name, project_path(project) -%></li>
	    			<% end %>
	  			</ul>
			<% end %>
		</div>
	</div>
</div>